
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

*, *::before, *::after {
  box-sizing: border-box; }

body {

  background-color: black; }

#map {

  width: 100%;
  height: 100%;

}

#highscore {

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  left: 20px;
  right: 20px;
  top: 30px;
  height: 5vh;

  font-size: 2vh;
  font-weight: bold;
  background-color: #ffcc33; 
  color: black;
  text-align: center;

}

#info {

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  left: 20px;
  right: 20px;
  bottom: 30px;
  height: 5vh;

  font-weight: bold;
  font-size: 2vh;
  color: #ffcc33;
  text-align: center;

  background-color: #333;

}